.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.searchAndReset {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  gap: 1.5rem;
}

.orderAndFilter {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.nav {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.goHome {
  width: 50%;
  padding: 1rem;
}

.imgNav {
  width: 10%;
}

@media screen and (min-width: 320px) {
  .header {
    overflow: hidden;
    max-width: 100%;
  }
  .nav {
    overflow: hidden;
    max-width: 100%;
  }
  .searchAndReset {
    overflow: hidden;
    max-width: 100%;
    flex-direction: column-reverse;
  }
  .search {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .orderAndFilter {
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .searchAndReset {
    flex-direction: row-reverse;
  }
  .search {
    flex-direction: row;
  }
  .orderAndFilter {
    flex-direction: row;
  }
}
