.cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  gap: 2.5rem;
}

@media (min-width: 768px) {
  .cards-container {
    grid-template-columns: repeat(4, 1fr);
  }
}
