.order {
  border: none;
  font-family: "Rubik", sans-serif;
  font-weight: 500;
  height: 2rem;
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 20px;
}

.order:focus {
  outline: none;
}